h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: #005883;
}

h2{
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: #005883;
}

h6{
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    color: #005883;
}

.logo{
    width: 250px;
    padding: 10 0;
}


.banner{
    max-width: 1100px;
    min-height: 400px;
    margin: 0 auto;
}

.container h2{
    padding: 5px;
    font-size: 20px;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: #005883;
}

.container p{
    font-size: 16px;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
}

footer{
   max-width: 1920;
   padding: 30px;
   background-color:#005883;
   margin: 0 auto;
   color: #ffffff;
   text-align: left;
   box-sizing: border-box;
   font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
   font-size: 16px;
}

.pie-foto{
    font-size: 12px;
}

footer a:hover{
    color: #ffffff;
    text-decoration: underline;
}

footer a{
    color: #ffffff;
}

aside{
    max-width: 80%;
}